flows.json
[{"id":"98a35d9a.e710e","type":"tab","label":"esios","disabled":false,"info":""},{"id":"cc9122be.e74fe8","type":"inject","z":"98a35d9a.e710e","name":"cada día a las 20:30","props":[],"repeat":"","crontab":"30 20 * * *","once":false,"onceDelay":0.1,"topic":"","x":180,"y":80,"wires":[["72e2130b.1df674"]],"info":"Cada día a las 20:00 se publica la información de la subasta de energía para el día siguiente. Damos algo de margen y lo recuperamos a las 20:30."},{"id":"4b2a5537.4d6b84","type":"http request","z":"98a35d9a.e710e","name":"recupera de ESIOS","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://api.esios.ree.es/archives/71/download?date_type=datos&end_date={{{payload}}}T23%3A59%3A59%2B00%3A00&locale=es&start_date={{{payload}}}T00%3A00%3A00%2B00%3A00","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":80,"wires":[["cf9cbb0c.72ee4"]]},{"id":"9ff3a43d.360ca","type":"debug","z":"98a35d9a.e710e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"7c7b7868.95962","type":"change","z":"98a35d9a.e710e","name":"formatea influx","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload. [{\t        'time': $number($moment(A, 'DD/MM/YYYY').format('x')) + ($number(B) -1)*1000*60*60,\t        'PVPC': $number(E),\t        'TEU': $number(F),\t        'TCU': $number(G),\t        'PVPC PERD': $number(H),\t        'Coeficiente pérdidas estandar': $number(I),\t        'CP': $number(J),\t        'OC': $number(K),\t        'OS': $number(L),\t        'OM': $number(M),\t        'Cargo capacidad': $number(N),\t        'Servicio interrumpibilidad': $number(O),\t        'CCVh RCVtovph': $number(P),\t        'CCVh RFE': $number(Q),\t        'CCVh RMRv': $number(R),\t        'CCVh rutinaria': $number(S),\t        'SAh': $number(T),\t        'Otros sistema': $number(U),\t        'CDSVh': $number(V),\t        'Coste banda': $number(W),\t        'Coste reserva': $number(X),\t        'Coste restricciones técnicas diario': $number(Y),\t        'PMH': $number(Z),\t        'Componente intradiario 1': $number(AA),\t        'Mercado diario': $number(AB)\t    },\t    {\t        'Peaje': C,\t        'Periodo': $number(D)\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":300,"wires":[["9ff3a43d.360ca","5456ff60.f6311"]]},{"id":"b17427cd.7808a8","type":"debug","z":"98a35d9a.e710e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":40,"wires":[]},{"id":"dc1824ab.60baf8","type":"inject","z":"98a35d9a.e710e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"01/06/2021","payloadType":"str","x":410,"y":40,"wires":[["4b2a5537.4d6b84"]]},{"id":"a2e5ca18.f60b98","type":"catch","z":"98a35d9a.e710e","name":"","scope":null,"uncaught":false,"x":230,"y":420,"wires":[["6def43fb.0c9f34"]]},{"id":"6def43fb.0c9f34","type":"debug","z":"98a35d9a.e710e","name":"Errores","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":420,"wires":[]},{"id":"41648a3.1e1fbf4","type":"debug","z":"98a35d9a.e710e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"5456ff60.f6311","type":"influxdb out","z":"98a35d9a.e710e","influxdb":"353f3090.d331c","name":"Influxdb2 esios","measurement":"esios","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"mi-casa","bucket":"electricidad","x":540,"y":300,"wires":[]},{"id":"cf9cbb0c.72ee4","type":"book","z":"98a35d9a.e710e","name":"lee excel","raw":false,"x":240,"y":200,"wires":[["551adb57.0312ec"]]},{"id":"551adb57.0312ec","type":"sheet","z":"98a35d9a.e710e","name":"extrae hoja","sheetName":"Tabla de Datos PCB","x":430,"y":200,"wires":[["75b5a992.d05608"]]},{"id":"75b5a992.d05608","type":"sheet-to-json","z":"98a35d9a.e710e","name":"convierte a json","raw":"false","range":"A6:AB78","header":"A","blankrows":false,"x":660,"y":200,"wires":[["7c7b7868.95962","41648a3.1e1fbf4"]]},{"id":"72e2130b.1df674","type":"moment","z":"98a35d9a.e710e","name":"mañana","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Madrid","adjAmount":"1","adjType":"days","adjDir":"add","format":"L","locale":"ES","output":"payload","outputType":"msg","outTz":"Europe/Madrid","x":420,"y":80,"wires":[["4b2a5537.4d6b84","b17427cd.7808a8"]]},{"id":"353f3090.d331c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"Influxdb 2","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influx:8086","rejectUnauthorized":false}]