flows.json
[{"id":"14e27512.3a4633","type":"tab","label":"esios","disabled":false,"info":""},{"id":"1bb15111.9fc847","type":"inject","z":"14e27512.3a4633","name":"cada día a las 20:30","props":[],"repeat":"","crontab":"30 20 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":180,"y":80,"wires":[["9eec1961.bb9e08"]],"info":"Cada día a las 20:00 se publica la información de la subasta de energía para el día siguiente. Damos algo de margen y lo recuperamos a las 20:30."},{"id":"1e637663.c80ae2","type":"http request","z":"14e27512.3a4633","name":"recupera de ESIOS","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://api.esios.ree.es/archives/71/download?date_type=datos&end_date={{{payload}}}T23%3A59%3A59%2B00%3A00&locale=es&start_date={{{payload}}}T00%3A00%3A00%2B00%3A00","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":80,"wires":[["a53b246d.c96e6"]]},{"id":"a53b246d.c96e6","type":"book","z":"14e27512.3a4633","name":"lee excel","x":240,"y":200,"wires":[["676faa50.4a924c"]]},{"id":"2c8dbd32.b1175a","type":"debug","z":"14e27512.3a4633","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"676faa50.4a924c","type":"sheet","z":"14e27512.3a4633","name":"extrae hoja","sheetName":"Tabla de Datos PCB","x":430,"y":200,"wires":[["6b1fa65c.07057"]]},{"id":"6b1fa65c.07057","type":"sheet-to-json","z":"14e27512.3a4633","name":"convierte a json","raw":"false","range":"A6:AB78","header":"A","blankrows":false,"x":660,"y":200,"wires":[["9259f958.c0be8"]]},{"id":"9259f958.c0be8","type":"change","z":"14e27512.3a4633","name":"formatea influx (nuevo PVPC)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload. [{\t        'time': $number($moment(A, 'DD/MM/YYYY').format('x')) + ($number(B) -1)*1000*60*60,\t        'PVPC': $number(E),\t        'TEU': $number(F),\t        'TCU': $number(G),\t        'PVPC PERD': $number(H),\t        'Coeficiente pérdidas estandar': $number(I),\t        'CP': $number(J),\t        'OC': $number(K),\t        'OS': $number(L),\t        'OM': $number(M),\t        'Cargo capacidad': $number(N),\t        'Servicio interrumpibilidad': $number(O),\t        'Excedente o déficit de subastas renovables': $number(P),\t        'CCVh RCVtovph': $number(Q),\t        'CCVh RFE': $number(R),\t        'CCVh RMRv': $number(S),\t        'CCVh rutinaria': $number(T),\t        'SAh': $number(U),\t        'Otros sistema': $number(V),\t        'CDSVh': $number(W),\t        'Coste banda': $number(X),\t        'Coste reserva': $number(Y),\t        'Coste restricciones técnicas diario': $number(Z),\t        'PMH': $number(AA),\t        'Componente intradiario 1': $number(AB),\t        'Mercado diario': $number(AC),\t        'Coeficiente perfilado': $number(AE)\t    },\t    {\t        'Peaje': C,\t        'Periodo': $number(D)\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":300,"wires":[["2c8dbd32.b1175a","60cd476d.403fc","72bf779a.07b57"]]},{"id":"60cd476d.403fc","type":"influxdb out","z":"14e27512.3a4633","influxdb":"353f3090.d331c","name":"Influxdb2 tests","measurement":"esios","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"gonzalez-conesa","bucket":"tests","x":620,"y":320,"wires":[]},{"id":"9eec1961.bb9e08","type":"moment","z":"14e27512.3a4633","name":"mañana","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Madrid","adjAmount":"1","adjType":"days","adjDir":"add","format":"L","locale":"ES","output":"payload","outputType":"msg","outTz":"Europe/Madrid","x":420,"y":80,"wires":[["1e637663.c80ae2"]]},{"id":"72bf779a.07b57","type":"influxdb out","z":"14e27512.3a4633","influxdb":"636cb567.cfe544","name":"","measurement":"esios","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":280,"wires":[]},{"id":"a97ef43b.acf08","type":"inject","z":"14e27512.3a4633","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"04/06/2021","payloadType":"str","x":410,"y":120,"wires":[["1e637663.c80ae2"]]},{"id":"61e6767d.f13c78","type":"change","z":"14e27512.3a4633","name":"formatea influx (PVPC previo)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload. [{\t        'time': $number($moment(A, 'DD/MM/YYYY').format('x')) + ($number(B) -1)*1000*60*60,\t        'PVPC': $number(E),\t        'TEU': $number(F),\t        'TCU': $number(G),\t        'PVPC PERD': $number(H),\t        'Coeficiente pérdidas estandar': $number(I),\t        'CP': $number(J),\t        'OC': $number(K),\t        'OS': $number(L),\t        'OM': $number(M),\t        'Cargo capacidad': $number(N),\t        'Servicio interrumpibilidad': $number(O),\t        'CCVh RCVtovph': $number(P),\t        'CCVh RFE': $number(Q),\t        'CCVh RMRv': $number(R),\t        'CCVh rutinaria': $number(S),\t        'SAh': $number(T),\t        'Otros sistema': $number(U),\t        'CDSVh': $number(V),\t        'Coste banda': $number(W),\t        'Coste reserva': $number(X),\t        'Coste restricciones técnicas diario': $number(Y),\t        'PMH': $number(Z),\t        'Componente intradiario 1': $number(AA),\t        'Mercado diario': $number(AB)\t    },\t    {\t        'Peaje': C,\t        'Periodo': $number(D)\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":360,"wires":[[]]},{"id":"353f3090.d331c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"tests influxdb2 tirith","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://10.13.2.10:8086","rejectUnauthorized":false},{"id":"636cb567.cfe544","type":"influxdb","hostname":"10.13.2.10","port":"8087","protocol":"http","database":"tests","name":"Tests Tirith","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]